<details open id="employee-info">
    <div *ngIf="employee">
        <div class="info">
            <div class="title">Имя</div>
            <div class="field">
                <div class="value">{{ employee.fullName }}</div>
            </div>
        </div>
        <div class="info">
            <div class="title">Должность</div>
            <div class="field">
                <div class="value">{{ employee.jobTitle }}</div>
            </div>
        </div>
        <div class="info">
            <div class="title">Тип работы</div>
            <div class="field">
                <div class="value">{{ employee.jobType }}</div>
            </div>
        </div>
        <div class="info">
            <div class="title">Проекты</div>
            <div class="field">
            </div>
        </div>
        <div class="info">
            <div class="title">Группа</div>
            <div class="field">
                <div class="value">{{ employee.organizationalUnitHierarchy?.group?.name }}</div>
            </div>
        </div>
        <div class="info">
            <div class="title">Отдел</div>
            <div class="field">
                <div class="value">{{ employee.organizationalUnitHierarchy?.department?.name }}</div>
            </div>
        </div>
        <div class="info">
            <div class="title">Подразделение</div>
            <div class="field">
                <div class="value">{{ employee.organizationalUnitHierarchy?.division?.name }}</div>
            </div>
        </div>
        <div class="info">
            <div class="title">Локация</div>
            <div class="field">
                <div class="value">{{ employee.organizationalUnit?.location }}</div>
            </div>
        </div>
    </div>
    <summary>
        <div>Сведения о сотруднике</div>
        <img src="../../../assets/img/arrow.svg" alt="">
    </summary>
</details>