@font-face {
    font-family: 'Inter';
    font-weight: 400;
    font-style: normal;
    src: local('Muller'),
         url('../../../assets/fonts/Inter-Regular.woff2') format('woff2'),
         url('../../../assets/fonts/Inter-Regular.woff') format('woff');
}

* {
    font-family: 'Inter', Courier, monospace;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    font-weight: 600;
    font-style: bold;
    src: local('Muller'),
         url('../../../assets/fonts/Inter-SemiBold.woff2') format('woff2'),
         url('../../../assets/fonts/Inter-SemiBold.woff') format('woff');
}

#employee-details, #job-position-info {
    margin-top: 20px;
}

#employee-profile .title {
    margin-top: 16px;
    margin-bottom: 10px;
}

#employee-profile-details {
    display: grid;
    grid-template-columns: 32px 1fr;
    gap: 10px;
    align-items: center;
}

#employee-profile-details .profile-image {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

#employee-profile-details .profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.employee-status {
    font-size: 12px;
}

details > summary {
    list-style: none;
    font-weight: 600;
}

details > div {
    border-left: 1px solid #C2C2C2;
    padding-left: 12px;
}

summary::-webkit-details-marker {
    display: none
}

details[open] summary img {
    rotate: 180deg;
}

.info {
    margin-top: 12px;
}

.field {
    box-sizing: border-box;
    width: 100%;
    min-height: 32px;
    padding: 8px 12px;
    background-color: white;
    border: 1px solid rgba(20, 25, 26, 0.12);
    border-radius: 4px;
}

.field_projects {
    margin-bottom: 4px;

    &:last-child {
        margin-bottom: 0;
    }
}

.title {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: #14191A;
    margin-bottom: 8px;
}

.value {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: #14191A;
    margin: auto 0;
}

.summary {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.summary-text {
    font-size: 15px;
    line-height: 24px;
}

@media (min-width: 3024px) {
    .summary-text {
        font-size: 32px;
    }

    .title {
        font-size: 24px;
        margin-bottom: 16px;
    }

    .value {
        font-size: 22px;
    }

    .field {
        min-height: 48px;
        margin-bottom: 24px;
        display: flex;
    }

    .info {
        margin-top: 48px;
    }

    details {
        padding: 48px;
    }

    .summary-arrow {
        width: 32px;
    }
}
