@font-face {
    font-family: 'Inter';
    font-weight: 400;
    font-style: normal;
    src: local('Muller'),
         url('../../../assets/fonts/Inter-Regular.woff2') format('woff2'),
         url('../../../assets/fonts/Inter-Regular.woff') format('woff');
}

* {
    font-family: 'Inter', Courier, monospace;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    font-weight: 600;
    font-style: bold;
    src: local('Muller'),
         url('../../../assets/fonts/Inter-SemiBold.woff2') format('woff2'),
         url('../../../assets/fonts/Inter-SemiBold.woff') format('woff');
}

details {
    padding: 20px;
    border: 1px solid rgba(20, 25, 26, 0.12);
    background-color: white;
}

details>summary {
    list-style: none;
    font-weight: 600;
}

summary::-webkit-details-marker {
    display: none
}

details[open] summary img {
    rotate: 180deg;
}

fieldset {
    margin-top: 20px;
    background-color: white;
}

fieldset legend {
    color: #747474;
}