<div class="search-container">
    <input type="search" placeholder="Выберите" #searchBarInput
           [(ngModel)]="selectedUnitNamesString" (click)="selectOpened = true">
    <img class="arrow" [ngClass]="{ 'rotate': selectOpened }"
         src="../../../assets/img/select.svg" alt="" (click)="selectOpened = !selectOpened">
</div>
@if (selectOpened) {
    @if (searchedUnits.length > 0) {
        <div class="select" [ngStyle]="{ 'height': (Math.min(20 * units.length, 160)).toString() + 'px' }">
            @for (unit of searchedUnits; track unit.id) {
                <label class="option" (click)="selectUnit(unit)">
                    <input type="checkbox" [checked]="selectedUnitsArray.includes(unit)">
                    <span>
                        <span class="unit-name">{{ unit.name }}</span>
                        <br>
                        <span class="unit-location">{{ unit.location }}</span>
                    </span>
                </label>
            }
        </div>
    } @else {
        <div class="nothing-found-block">
            <p class="nothing-found-title">Ничего не найдено</p>
        </div>
    }
}