@font-face {
    font-family: 'Inter';
    font-weight: 400;
    font-style: normal;
    src: local('Muller'),
         url('../../../assets/fonts/Inter-Regular.woff2') format('woff2'),
         url('../../../assets/fonts/Inter-Regular.woff') format('woff');
}

* {
    font-family: 'Inter', Courier, monospace;
}

.suggestions {
    max-height: 200px;
    overflow: hidden;
    overflow-y: scroll;
}

input {
    border-radius: 0;
    padding: 5px;
    width: -webkit-fill-available;
    border: #121212 0.5px solid;
}

input:focus {
    outline: #121212 1px solid;
}
