@font-face {
    font-family: 'Inter';
    font-weight: 400;
    font-style: normal;
    src: local('Muller'),
         url('../../../assets/fonts/Inter-Regular.woff2') format('woff2'),
         url('../../../assets/fonts/Inter-Regular.woff') format('woff');
  }

* {
    font-family: 'Inter', Courier, monospace;
    font-style: normal;
}

.search-bar {
    box-sizing: border-box;
    padding: 10px 0;
    height: 92px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 4px 16px 0 rgba(20, 25, 26, 0.08);
}

.search-input {
    display: flex;
    width: 454px;
    border-radius: 4px;
    border: 1px solid rgba(20, 25, 26, 0.12);
    background-color: white;
    margin: 0 auto;
}

.suggestions {
    max-height: 200px;
    overflow: hidden;
    overflow-y: scroll;
    background-color: white;
}

.suggestions div {
    font-size: 15px;
    padding: 10px 0;
}

.suggestions div div {
    margin: 1px 0;
    padding-left: 10px;
    transition: all 0.5s ease-in-out;
}

.suggestions div div:hover {
    outline: #121212 1px solid;
}

.buttons {
    margin-top: 12px;
    border-radius: 4px;
    height: 24px;
}

input[type=search] {
    width: 400px;
    border: none;
}

.location-name {
    color: #b4b4b4;
}

.button {
    box-sizing: border-box;
    background-color: white;
    color: rgba(20, 25, 26, 1);
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    border: 1px solid rgba(20, 25, 26, 0.16);
    border-collapse: collapse;
    border-right: none;
}

.button-last {
    border-right: 2px solid rgba(20, 25, 26, 0.16);
}

.selected-button {
    background-color: rgba(20, 25, 26, 0.08);
    transition: all 0.3s ease-in-out;
    border: 2px solid rgba(20, 25, 26, 0.72);
}

.button-text {
    color: #14191A;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
}

.center-checkbox {
    width: 120px;
    height: 16px;
}
