@font-face {
    font-family: 'Inter';
    font-weight: 400;
    font-style: normal;
    src: local('Muller'),
         url('../../../assets/fonts/Inter-Regular.woff2') format('woff2'),
         url('../../../assets/fonts/Inter-Regular.woff') format('woff');
  }

* {
    font-family: 'Inter', Courier, monospace;
    font-style: normal;
}

.search-bar {
    box-sizing: border-box;
    padding: 10px 0;
    height: 92px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 4px 16px 0 rgba(20, 25, 26, 0.08);
}

.search-input {
    display: flex;
    width: calc(100% - 32px);
    border-radius: 4px;
    border: 1px solid rgba(20, 25, 26, 0.12);
    background-color: white;
    margin: 0 auto;
}

.suggestions {
    max-height: 200px;
    background-color: white;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-color: rgba(20, 25, 26, 0.2) rgba(255, 255, 255, 0);
    scrollbar-width: thin;
}

.suggestions div {
    font-size: 15px;
    padding: 8px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.suggestions div div {
    margin: 1px 0;
    padding-left: 10px;
    transition: all 0.5s ease-in-out;
}

.suggestions div div:hover {
    outline: #121212 1px solid;
}

.options {
    margin-top: 12px;
    padding: 0 16px;
    height: 24px;
    display: flex;
}

.buttons {
    border-radius: 4px;
    margin-right: 12px;
}

input[type=search] {
    width: 100%;
    border: none;
}

.location-name {
    color: #b4b4b4;
}

.button {
    box-sizing: border-box;
    background-color: white;
    color: rgba(20, 25, 26, 1);
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    border: 1px solid rgba(20, 25, 26, 0.16);
    border-collapse: collapse;
    border-right: none;
}

.button-last {
    border-right: 1px solid rgba(20, 25, 26, 0.16);
}

.selected-button {
    background-color: rgba(20, 25, 26, 0.08);
    transition: all 0.3s ease-in-out;
    border: 1px solid rgba(20, 25, 26, 0.72);
}

.button-text {
    color: #14191A;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    margin: auto 12px auto 0;
}

.center-checkbox {
    display: flex;
}

.center-text {
    font-size: 12px;
}

.center-text-container {
    margin-top: 1px;
}

.hint {
    text-align: right;
}

.empty {
    width: 123px;
}

@media (min-width: 3024px) {
    .search-bar {
        padding: 32px 48px;
        height: 180px;
    }

    .search-input {
        width: 100%;
    }

    .options {
        margin-top: 24px;
        height: 44px;
    }

    .button-text, .button, .center-text {
        font-size: 20px;
    }

    input[type=search]::placeholder {
        font-size: 22px;
    }

    .center-text-container {
        margin-top: 10px;
    }

    .button {
        height: 44px;
    }

    .button-text {
        margin-right: 28px;
    }

    .buttons {
        margin-right: 32px;
    }

    #center {
        width: 24px;
    }

    .center-text {
        margin-left: 4px;
    }
}
