<div class="search-bar">
    <div class="search-input">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14.5 14.5L16.5 16.5" stroke="#8A8C8C"/>
            <circle cx="11" cy="11" r="3.5" stroke="#8A8C8C"/>
        </svg>
        <input type="search" id="search-field" #searchBarInput placeholder="Поиск">
    </div>
    @if (showSearches) {
        <div class="suggestions">
            @if (isSearchEmployees) {
                @for (employee of searchedEmployees; track employee.id) {
                    <div (click)="selectEmployee(employee)">
                        <span>{{ employee.fullName }}</span>
                        <span class="hint">Перейти к узлу</span>
                    </div>
                }
            } @else if (isSearchProjects) {
                @for (project of searchedProjects; track project.id) {
                    <div (click)="selectProject(project)">
                        <span>{{ project.name }}</span>
                        <span class="hint">Сгенерировать дерево</span>
                    </div>
                }
            } @else {
                @for (unit of searchedOrganizationalUnits; track unit.id) {
                    <div (click)="selectUnit(unit)">
                        <span>
                            {{ unit | withUnitTypeName }} <span class="location-name">{{ unit.location }}</span>
                        </span>
                        @if (setCenter) {
                            <span class="hint">Сгенерировать дерево</span>
                        } @else {
                            <span class="hint">Перейти к узлу</span>
                        }
                    </div>
                }
            }
        </div>
    } @else {
        <div class="buttons">
            <span class="button-text">Искать по:</span>
            <button type="button" class="button"
                    [ngClass]="{'selected-button': this.isSearchEmployees}"
                    (click)="setSearch('searchEmployees')">
                Сотрудникам
            </button>
            <button type="button" class="button"
                    [ngClass]="{'selected-button': this.isSearchProjects}"
                    (click)="setSearch('searchProjects')">
                Проектам
            </button>
            <button type="button" class="button"
                    [ngClass]="{'selected-button': this.isSearchUnits, 'button-last': showCenterCheckBox}"
                    (click)="setSearch('searchUnits')">
                Структурам
            </button>
            @if (isSearchUnits) {
                @if (showCenterCheckBox) {
                    <input id="center" type="checkbox" [checked]="setCenter" (change)="setCenter = !setCenter">
                    <label for="center">Сделать центром</label>
                } @else {
                    <button type="button" class="button button-last" (click)="backToMainTree()">Сбросить центр</button>
                }
            } @else if (!showCenterCheckBox) {
                <button type="button" class="button button-last" (click)="backToMainTree()">Сбросить центр</button>
            }
        </div>
    }
</div>