@font-face {
    font-family: 'Inter';
    font-weight: 400;
    font-style: normal;
    src: local('Muller'),
         url('../../../assets/fonts/Inter-Regular.woff2') format('woff2'),
         url('../../../assets/fonts/Inter-Regular.woff') format('woff');
}

*:not([class^="fa"]) {
    font-family: 'Inter', Courier, monospace;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    font-weight: 600;
    font-style: bold;
    src: local('Muller'),
         url('../../../assets/fonts/Inter-SemiBold.woff2') format('woff2'),
         url('../../../assets/fonts/Inter-SemiBold.woff') format('woff');
}

#filter-menu {
    margin-right: 20px;
    padding: 20px;
    border: 2px solid gray;
    max-height: 90vh;
    overflow-y: auto;
}

details[open] summary {
    margin-bottom: 20px;
}

details {
    background-color: #f8f8f8;
}

details>summary {
    list-style: none;
    font-weight: 600;
}

summary::-webkit-details-marker {
    display: none
}

#filter-menu[open] #filters img, #locations[open] summary img, #employee-type[open] summary img, #divisions[open] summary img, #groups[open] summary img,  #departments[open] summary img {
    rotate: 180deg;
}

fieldset {
    margin-top: 20px;
    background-color: white;
}

fieldset legend {
    color: #747474;
}

ul {
    padding: 0;
    list-style-type: none;
}

input[type="checkbox"] + label {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

input[type='checkbox']:checked {
    background-color: #121212;
}

input[type='checkbox']:checked:after {
    content: '\2713';
    color:white;
}

input[type='checkbox']{
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    width: 20px !important;
    height: 20px !important;
    appearance:none;
    border: 1px solid #121212;
    box-shadow: none;
    font-size: 1em;
}

.selected-units {
    display: grid;
    margin: 20px 0;
    grid-template-columns: repeat(2, 1fr);
    gap: 2%;
}

.selected-unit {
    display: inline-grid;
    padding: 3px 10px;
    gap: 10%;
    grid-template-columns: repeat(2, 1fr);
    border: 2px solid gray;
}

.selected-unit-name {
    justify-self: start;
}

.selected-unit-close {
    justify-self: end;
    cursor: pointer;
}
