@font-face {
    font-family: 'Inter';
    font-weight: 400;
    font-style: normal;
    src: local('Muller'),
         url('../../../assets/fonts/Inter-Regular.woff2') format('woff2'),
         url('../../../assets/fonts/Inter-Regular.woff') format('woff');
}

*:not([class^="fa"]) {
    font-family: 'Inter', Courier, monospace;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    font-weight: 600;
    font-style: bold;
    src: local('Muller'),
         url('../../../assets/fonts/Inter-SemiBold.woff2') format('woff2'),
         url('../../../assets/fonts/Inter-SemiBold.woff') format('woff');
}

#filter-menu {
    padding: 20px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 4px 16px 0 rgba(20, 25, 26, 0.08);
    max-height: 80vh;
    overflow-y: scroll;
    scrollbar-color: rgba(20, 25, 26, 0.2) rgba(255, 255, 255, 0);
    scrollbar-width: thin;
}

details[open] summary {
    margin-bottom: 20px;
}

details {
    background-color: white;
}

details>summary {
    list-style: none;
    font-weight: 600;
}

summary::-webkit-details-marker {
    display: none
}

#filter-menu[open] #filters img, #locations[open] summary img, #employee-type[open] summary img, #divisions[open] summary img, #groups[open] summary img,  #departments[open] summary img {
    rotate: 180deg;
}

fieldset {
    margin-top: 20px;
    background-color: white;
}

fieldset legend {
    color: #747474;
}

ul {
    padding: 0;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 12px;
}

input[type="checkbox"] + label {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

input[type='checkbox']:checked {
    background-color: #121212;
}

input[type='checkbox']:checked:after {
    content: '\2713';
    color:white;
}

input[type='checkbox']{
    text-align: center;
    display: inline-block;
    vertical-align: middle;

    width: 16px !important;
    height: 16px !important;
    appearance: none;
    margin: 0 8px 0 0;

    border: 1px solid #121212;
    box-shadow: none;
    font-size: 12px;
}

input[type='radio']:checked {
    border: 4px solid #121212;
    border-radius: 50%;
}

input[type='radio']{
    text-align: center;
    display: inline-block;
    vertical-align: middle;

    width: 16px !important;
    height: 16px !important;
    color: white;
    appearance: none;
    margin: 0 8px 0 0;

    border: 1px solid rgba(20, 25, 26, 0.12);
    border-radius: 50%;
    box-shadow: none;
    font-size: 12px;
}

input[type='radio'] + label, input[type='checkbox'] + label {
    font-family: 'Inter', Courier, monospace;
    font-size: 12px;
}

input[type=number] {
    width: -webkit-fill-available;
    color: #14191A;
    border: none;
}

input:focus {
    outline: none;
}

input[type=number]::placeholder {
    color: #8A8C8C;
}

.search-container {
    width: 100%;
    height: 32px;
    display: flex;
    box-sizing: border-box;
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid rgba(20, 25, 26, 0.12);
}

.search-container:focus {
    outline: #14191A 1px solid;
}

.salary-input-container {
    display: grid;
    grid-template-columns: 1fr 25px 1fr;
}

.salary-input {
    min-width: 0;
    margin-bottom: 0;
}

.selected-units {
    margin: 12px 0;
}

.slider {
    padding-bottom: 24px;
}

.selected-unit {
    box-sizing: border-box;
    padding: 4px 12px;
    border: 2px solid gray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 8px;

    &:last-child {
        margin-bottom: 0;
    }
}

.selected-unit-name {
    width: 156px;
    word-wrap: break-word;
}

.selected-unit-close {
    cursor: pointer;
    margin: auto;
}

.title {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #14191A;
    margin-bottom: 8px;
}

.title-container {
    display: flex;
    justify-content: space-between;
}

.clear {
    font-size: 10px;
    height: 16px;
    letter-spacing: 0.01em;
    color: #ADADAD;
    border-bottom: 1px dotted #ADADAD;
}

.section {
    margin-bottom: 12px;
}

.summary {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.summary-text {
    line-height: 24px;
}

details > div {
    border-left: 1px solid #C2C2C2;
    padding-left: 12px;
}

#employee-company-work-experience {
    margin-top: 24px;
}

li:not(:last-child) {
    margin-bottom: 10px;
}

@media (min-width: 3024px) {
    #filter-menu {
        padding: 48px;
    }

    #locations {
        margin-top: 48px;
    }

    .section {
        margin-bottom: 24px;
    }

    .summary-text {
        font-size: 32px;
    }

    .title {
        font-size: 24px;
        margin-bottom: 16px;
    }

    .clear {
        font-size: 20px;
    }

    input[type='checkbox'], input[type='radio'] {
        width: 24px !important;
        height: 24px !important;
        margin-right: 12px;
    }

    input[type='checkbox'] {
        font-size: 18px;
    }

    input[type='checkbox'] + label, input[type='radio'] + label {
        font-size: 22px;
    }

    input[type='radio']:checked {
        border-width: 6px;
    }

    .summary-arrow {
        width: 32px;
    }

    ul {
        margin-block-end: 16px;
    }
}
