<details id="filter-menu">
    <summary>Фильтры</summary>
    <form [formGroup]="settingsForm">
        <details id="locations" formArrayName="locations">
            <summary>Локации</summary>
            <ul>
                <li *ngFor="let location of settingsForm.get('locations')?.value | keyvalue">
                    <input type="checkbox" [value]="location.value" [formControlName]="location.key">
                    <label>{{ location.key }}</label>
                </li>
            </ul>
        </details>
        <details id="divisions">
            <summary>Подразделения</summary>
            <unit-search-bar [unitNames]="_divisionNames" (unitNameSelectedEvent)="selectDivisionName($event)"></unit-search-bar>
            <div class="selected-units">
                <div class="selected-unit" *ngFor="let name of selectedDivisionNames">
                    <span class="selected-unit-name">{{ name }}</span>
                    <i class="fa-solid fa-xmark selected-unit-close" (click)="selectDivisionName(name)"></i>
                </div>
            </div>
        </details>
        <details id="departments">
            <summary>Отделы</summary>
            <unit-search-bar [unitNames]="_departmentNames" (unitNameSelectedEvent)="selectDepartmentName($event)"></unit-search-bar>
            <div class="selected-units">
                <div class="selected-unit" *ngFor="let name of selectedDepartmentNames">
                    <span class="selected-unit-name">{{ name }}</span>
                    <i class="fa-solid fa-xmark selected-unit-close" (click)="selectDepartmentName(name)"></i>
                </div>
            </div>
        </details>
        <details id="groups">
            <summary>Группы</summary>
            <unit-search-bar [unitNames]="_groupNames" (unitNameSelectedEvent)="selectGroupName($event)"></unit-search-bar>
            <div class="selected-units">
                <div class="selected-unit" *ngFor="let name of selectedGroupNames">
                    <span class="selected-unit-name">{{ name }}</span>
                    <i class="fa-solid fa-xmark selected-unit-close" (click)="selectGroupName(name)"></i>
                </div>
            </div>
        </details>
        <details id="employee-type">
            <summary>Тип места</summary>
            <ul>
                <li>
                    <input type="checkbox" id="vacancy" name="vacancy" value="vacancy" class="checkbox"
                        formControlName="displayVacancies">
                    <label for="vacancy">Вакантные места</label>
                </li>
                <li>
                    <input type="checkbox" id="not-vacancy" name="not-vacancy" value="not-vacancy"
                        formControlName="displayNotVacancies">
                    <label for="not-vacancy">Занятые места</label>
                </li>
            </ul>
        </details>
    </form>
</details>