<div class="search-container">
    <input type="search" placeholder="Выберите"
           [(ngModel)]="selectedNamesString" #searchBarInput (click)="selectOpened = true"
    >
    <img class="arrow" [ngClass]="{'rotate': selectOpened}" (click)="selectOpened = !selectOpened" src="../../../assets/img/select.svg" alt="">
</div>
@if (selectOpened) {
    <div class="select" [ngStyle]="{'height': (Math.min(20 * names.length, 160)).toString() + 'px'}">
        @for (name of searchedNames; track name) {
            <label class="option" (click)="selectName(name)">
                <input type="checkbox" [checked]="selectedNamesArray.includes(name)">
                {{name}}
            </label>
        }
    </div>
}