#header {
    position: fixed;
    display: flex;
    left: calc((100vw - 1200px) / 2);
}

#employee-info {
    position: relative;
    z-index: 100;
    width: 248px;
    margin-right: 109px;
}

#tree-search-bar {
    position: relative;
    z-index: 100;
    width: 486px;
    margin-right: 109px;
}

#filter-menu {
    position: relative;
    z-index: 100;
    width: 248px;
}

#graph-area {
    z-index: -1;
}

@font-face {
    font-family: 'Inter';
    font-weight: 400;
    font-style: normal;
    src: local('Muller'),
         url('../../../assets/fonts/Inter-Regular.woff2') format('woff2'),
         url('../../../assets/fonts/Inter-Regular.woff') format('woff');
}

svg {
    font-family: 'Inter', Courier, monospace !important;
    font-style: normal;
}