#employee-info {
    position: fixed;
    z-index: 100;
    width: 20%;
}

#tree-search-bar {
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    z-index: 100;
    width: 40%;
}

#filter-menu {
    position: fixed;
    right: 0;
    z-index: 100;
    width: 20%
}

#graph-area {
    z-index: -1;
}