#employee-info {
    position: fixed;
    z-index: 100;
    width: 300px;
    left: calc(50vw - 600px);
}

#tree-search-bar {
    position: fixed;
    z-index: 100;
    width: 486px;
    left: calc(50vw - 600px + 248px + 109px);
}

#filter-menu {
    position: fixed;
    z-index: 100;
    width: 248px;
    right: calc(50vw - 600px);
}

#graph-area {
    z-index: -1;
}

@font-face {
    font-family: 'Inter';
    font-weight: 400;
    font-style: normal;
    src: local('Muller'),
         url('../../../assets/fonts/Inter-Regular.woff2') format('woff2'),
         url('../../../assets/fonts/Inter-Regular.woff') format('woff');
}

svg {
    font-family: 'Inter', Courier, monospace !important;
    font-style: normal;
}

@media (min-width: 3024px) {
    #employee-info {
        width: 604px;
        top: 48px;
        left: 48px;
    }

    #tree-search-bar {
        width: 926px;
        top: 48px;
        left: calc(50vw - 463px);
    }

    #filter-menu {
        width: 604px;
        top: 48px;
        right: 48px;
    }
}

@media (min-width: 3840px) {
    #employee-info {
        top: 64px;
        left: 616px;
    }

    #tree-search-bar {
        top: 64px;
    }

    #filter-menu {
        top: 64px;
        right: 616px;
    }
}
